.thumbnail {
  background-color: #f6f8fa;
  width: 230px;
  margin: 15px auto 5px;
  padding: 14px 14px 10px 12px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  column-gap: 8px;
  border: 3px solid #ddd;
  border-radius: 10px;
}

.git-theme p {
  color: #57606a;
}

.thumb-details {
  display: flex;
  flex-grow: 2;
  flex-flow: column nowrap;
  row-gap: 4px;
}

.thumb-details p {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.thumb-details-repo-name {
  font-size: 16px;
}

.thumb-details-repo-name a {
  color: #0969da;
  text-decoration: none;
}

.thumb-details-repo-name a:hover {
  text-decoration: underline;
}

.thumb-details

.thumb-details-repo-desc {
  font-size: 12px;
}

.thumb-img-container img {
  border-style: solid;
  border-color: #dddddd;
  border-radius: 50%;
  border-width: 2px;
}

.thumb-details-repo-lang-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.thumb-details-repo-lang-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  flex: 0 3 auto;
}

.thumb-details-repo-lang {
  font-size: 11px;
  text-align: left;
  color: #57606a;
  flex: 0 2 auto;
}

.thumb-stats-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 3px;
}

.thumb-stats-label {
  text-align: left;
  font-size: 12px;
  color: #57606a;
  padding-right: 8px;
  padding-top: 5px;
}

.thumb-stats-child {
  flex: 0 3 auto;
  width: auto;
}